SwiftFoundation/SwiftFoundation.xcodeproj/project.xcworkspace/xcuserdata/*
SwiftFoundation.xcworkspace/xcuserdata/*
SwiftFoundation/SwiftFoundation.xcodeproj/xcuserdata/*
Carthage/*
SwiftFoundation/SwiftFoundationTests/1.json
.build
.swiftpm

Packages/*

SwiftFoundation/build

Xcode/SwiftFoundation.xcodeproj/xcuserdata

Xcode/SwiftFoundation.xcodeproj/project.xcworkspace/xcuserdata

.DS_Store
